<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>reStructuredText Viewer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/site_media/css/rst.css"/>
  </head>
  <body>
    {% load i18n %}
    {% load markup %}

    <form id="viewer-form" action="." method="post">
        {% csrf_token %}
        
        {{ form }}

        <p>
            <input type="submit" value="{% trans 'Preview' %}" />
            <input type="hidden" name="{{ stage_field }}" value="1" />
        </p>
     </form>

    {% if form.description.data %}
    <h2>Preview</h2>
    <div id="preview">
        {{ form.description.data|restructuredtext }}
    </div>
    {% endif %}
  </body>
</html>
